.category-list {
	margin: 0 auto !important;
}
.loader-container {
	width: 100% !important;
	height: 100vh !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.p-listbox {
	width: 75% !important;
	border: 1px solid black !important;
}
.p-listbox-header {
	background-color: #bbb !important;
}
.left-container,
.right-container {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column !important;
	margin-bottom: 100px !important;
}
.p-listbox-filter-container > input {
	width: 87.5% !important;
	margin: 10px !important;
}
.p-listbox-list {
	list-style: none !important;
	overflow-y: scroll !important;
	height: 250px !important;
	padding: 20px !important;
}
.p-listbox-item {
	padding-left: 10px !important;
}
.p-listbox-item:hover {
	background-color: #ddd !important;
}
.left-heading {
	margin-bottom: 20px !important;
}

.right-container > h4 {
	margin: 20px auto !important;
}
.p-inputgroup {
	width: 100% !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: center !important;
	margin: 0 auto !important;
}
.p-inputgroup > input {
	width: 60% !important;
	padding: 5px !important;
	margin-bottom: 20px !important;
}
.p-inputgroup > button {
	color: #fff !important;
	font-weight: bold !important;
	background: linear-gradient(-63deg, #ff1b01 5%, #ff8c00 100%) !important;
	padding: 10px 30px !important;
	border-radius: 200px !important;
	margin-top: 20px !important;
	transition: all 0.3s !important;
	border: 1px solid #ff5001 !important;
	cursor: pointer !important;
	margin: 5px !important;
}
.p-inputgroup > button:hover {
	background: #fff !important;
	font-weight: bold !important;
	color: #ff5001 !important;
}
