.form-group .icons {
	position: absolute;
	top: 13px;
	left: 18px;
}
.fea .icon-sm {
	height: 16px;
	width: 16px;
}
.touch-btn {
	color: #fff !important;
	font-weight: bold;
	background: linear-gradient(-63deg, #ff1b01 5%, #ff8c00 100%);
	padding: 15px 30px;
	border-radius: 200px !important;
	border: 1px solid #ff5001;
	transition: all 0.3s !important;
}
.touch-btn:hover {
	background: #fff !important;
	font-weight: bold !important;
	color: #ff5001 !important;
}

.multiselect-demo .p-multiselect {
	min-width: 15rem;
}

.multiselect-demo
	.multiselect-custom
	.p-multiselect-label:not(.p-placeholder):not(.p-multiselect-items-label) {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.multiselect-demo .multiselect-custom .country-item-value {
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	display: inline-flex;
	margin-right: 0.5rem;
	background-color: var(--primary-color);
	color: var(--primary-color-text);
}

.multiselect-demo .multiselect-custom .country-item-value img.flag {
	width: 17px;
}
.multiselect-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.item-container {
	display: inline-flex;
	margin: 5px;
	border-radius: 200px;
	padding: 5px 10px;
	border: 1px solid #ff5001;
}
.upload-btn {
	color: #fff !important;
	font-weight: bold;
	background-color: #191b1e;
	padding: 15px;
	border-radius: 200px;
	border: 1px solid #191b1e;
	transition: all 0.3s;
	width: 7.5%;
}
.upload-btn:hover {
	background-color: #fff;
	color: #191b1e !important;
}
input[type="file"]::-webkit-file-upload-button {
	padding: 10px 20px !important;
	border-radius: 200px !important;
	background: linear-gradient(-63deg, #ff1b01 5%, #ff8c00 100%);
	color: white;
	border: 1px solid #ff5001 !important;
	margin: 0 !important;
}
input[type="file"]::-webkit-file-upload-button:active {
	border: none;
}
#guru-profile,
#guru-intro-thumbnail,
#guru-intro-video {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
.upload-container {
	display: flex;
	flex-direction: column;
}
.preview-container {
	/* height: 150px; */
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
.current-profile-container {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
}
.current-profile-img {
	height: 250px;
	width: auto;
}
.preview-video-container {
	/* height: 200px; */
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
.preview-img {
	height: 100px;
	width: auto;
	margin-right: 30px;
}
.preview-video {
	height: 150px;
	width: auto;
	margin-right: 30px;
}
.preview-bar {
	width: 100%;
	display: flex;
	align-items: center;
}
.preview-bar > button {
	background-color: transparent;
	border: none;
	margin: 0 30px;
}
.preview-bar > h6 {
	margin: 0 20px;
}
.bio-textarea {
	height: 150px !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
	border-color: #ff5001 !important;
	color: #ff5001;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
	box-shadow: 0 0 0 0.2rem #ff5001;
}
.p-tabview-nav {
	display: flex;
	justify-content: center;
}
.upload-btn-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.comparison-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.comparison-parent {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin: 20px 0 40px 0;
}
.comparison-left,
.comparison-right {
	width: 45%;
	background-color: rgba(255, 0, 0, 0.7);
	color: #fff;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.comparison-right {
	background-color: rgba(0, 255, 0, 0.7);
	color: black;
}
.comparison-heading {
	margin: 0 auto !important;
}
.update-confirm-btn {
	padding: 10px 20px !important;
	border-radius: 200px !important;
	background: linear-gradient(-63deg, #ff1b01 5%, #ff8c00 100%);
	color: white;
	border: 1px solid #ff5001 !important;
	margin-right: 20px;
	transition: 0.3s;
	font-weight: bold;
}
.update-confirm-btn:hover {
	background-color: #fff !important;
	color: #ff5001 !important;
}
.cancel-btn {
	color: #fff !important;
	font-weight: bold;
	background-color: #191b1e;
	border-radius: 200px;
	border: 1px solid #191b1e !important;
	transition: all 0.3s;
	width: 7.5%;
}
.cancel-btn:hover {
	background-color: #fff !important;
	color: #191b1e !important;
}
.comparison-footer {
	margin-top: 20px;
}
.comparison-img {
	width: 75%;
	height: auto;
	margin: 0 auto;
}
.comparison-video {
	width: 75%;
	height: auto;
	margin: 0 auto;
}
